# MkDocs build output
site/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python

# Environments
.env
.venv
venv/
env/
ENV/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Misc
*.swp
*.swo
*~

# Node
node_modules/
